.hiddenText{
	max-height: 0px;
	display: block;
	overflow: hidden;
	transition: all 1s;
	
	.expInner{
		transform: translateY(-100%);
		transition: all 1s ease 0.4s;
	}
	
	
}

.showMore{
	max-height: 3500px;
	transition: all 1s cubic-bezier(1.000, 0.070, 0.980, 0.360);
	
	.expInner{
		transform: translateY(0);
		
	}
}

.openTextButton{
	font-size: 40px;
	text-align: right;
	.fa{
		transform:rotate(0deg);	
		transition: transform 0.3s ease;
	    padding: 10px 20px;
		cursor: pointer;
	}
	&.open .fa{
		transform:rotate(180deg);	
	}
}


